* {
    box-sizing: border-box;
}
header {
    color: green;
    border-radius: 20px;
    box-shadow:0px, 0px, 20px black;
    height: auto;
    width: auto; 
    align-items: center;
    flex-direction:column;
    display: flex;
    font-size: 55px;
}
.name-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hello {
    color: green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow:0px, 0px, 20px black;
    height: 50px;
    width: 300px;
    background-color: black; 
    align-items: center;
    flex-direction:column;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#middle {
    color: green;
    width: 300px;
    background-color: black; 
    text-align:center;
    font-size: 30px;
}
#name {
    color: green;
    height: 175px;
    width: 300px;
    background-color: white; 
    align-items: center;
    flex-direction:column;
    display: flex;
    font-size: 40px;
    justify-content: center;
}
#bottom {
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 35px;
    width: 300px;
    background-color: black; 
    align-items: center;
    flex-direction:column;
    display: flex;
    padding: 10px;
    justify-content: center;
}
#button {
    background-color: pink;
    justify-content: center;
    align-items:center;
    display:flex;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
